@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .container {
    @apply mr-auto ml-auto px-4;
  }

  @media (min-width: 80rem) {
    .container {
      @apply px-5;
    }
  }
  
  .field-size-content {
    field-sizing: 'content';
  }

  .sun-editor-editable {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    background-color: transparent;
  }

  .sun-editor-editable img {
    height: auto !important;
  }

  .sun-editor-editable .se-image-container figure {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .sun-editor-editable th,
  .sun-editor-editable td {
    padding: 6px !important;
  }
}
